@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Ubuntu Bold";
    font-weight: 500;
    src: url("./assets/font/Ubuntu-Bold.ttf");
  }
  @font-face {
    font-family: "Ubuntu Medium";
    font-weight: 200;
    src: url("./assets/font/Ubuntu-Medium.ttf");
  }
  @font-face {
    font-family: "Ubuntu Light";
    font-weight: 100;
    src: url("./assets/font/Ubuntu-Light.ttf");
  }
}

@page {
  size: A4 portrait;
  margin: 1cm;
}

@media print {
  body, #root > div {
    background-image: none !important;
    background-color: white !important;
    min-height: 0 !important;
  }
  table.card-model {
    margin-top: 3mm;
  }
}

.g-captcha {
  margin: 0 auto;
  width: fit-content;
}

img {
  max-width: fit-content;
}

table.card-model th.card-model,
td.card-model {
  border: 1px solid black !important;
  padding: 6px 4px;
}

td.card-model-footer {
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  vertical-align: bottom;
  padding: 2px 4px;
}

th.card-model {
  padding: 10px 10px 10px 10px;
  width: 5%;
  text-align: center;
  font: 1em sans-serif;
  height: 40px;
  font-weight: bold;
}

td.card-model-duze {
  font-size: 20px;
  padding-left: 7px;
}

td.card-model-male {
  font-size: 14px;
}

.card-model span {
  display: flow-root;
}

.card-model-center {
  text-align: center;
  font-weight: 600;
}

.card-model-food-center {
  text-align: center;
}
